html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px rgba(151, 149, 149, 0.3);
}
.date{
	position: absolute;
top: 5rem;
left: 62rem;
   background-color: #E74C3A;
   padding:  2rem ;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;	

}
.num{
	font-size: 2rem;
	font-weight: 800;
}
.tag{
	position: absolute;
     top: 32rem;
	 background-color: #E74C3A;
	 padding:  1rem 1.5rem ;
	color: white;
	font-size: 1.3rem;
	font-weight: 700;
}

.container2{
	max-width: 700px;
	margin: 0 auto;
}
h1{
	color: #323232;
	font-size: 3.7rem;
	
	font-weight: 800;
	margin-top: 3rem;
}
h2{
	color: #E64F39;
	font-size: 3rem;
	font-weight: 300;
	margin-top: 1rem;
}
p{
	color: #686868;
	font-size: 2.5rem;
	line-height: 1.3;
	margin-top: 1.5rem;
}
.footer{
	margin-top: 2rem;
	color: #686868;
	font-size: 1.5rem;
}
i{
	margin-left: 1.5rem;
}